# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.pyc
*.sw[nop]
.DS_Store
.bundle
.byebug_history
.env
.git/
/bower_components/
/log
/node_modules/
/tmp
/vendor
db/*.sqlite3
log/*.log
tmp/**/*
/tags

# Add for dotfiles
.key.env.sh
.ssh*

test*
Brewfile.lock.json
.gitconfig
.kube/*
